@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?65525839');
  src: url('../fonts/fontello.eot?65525839#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?65525839') format('woff2'),
  url('../fonts/fontello.woff?65525839') format('woff'),
  url('../fonts/fontello.ttf?65525839') format('truetype'),
  url('../fonts/fontello.svg?65525839#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}