@import "variables";

.icon-list-add:before {
  content: $icon-list-add;
}
.icon-list-save:before {
  content: $icon-list-save;
}
.icon-pencil:before {
  content: $icon-pencil;
}
.icon-trash:before {
  content: $icon-trash;
}
