@import "variables";
@import "fonst";
@import "icons";
@import "maps";

.preloader {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: $color-bg-load;
  z-index: map-get($zIndex, loader);

  &__row {
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    position: relative;
    animation: preloader-rotate 2s infinite linear;
  }
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: $colo-load-item;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;

  &:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
}

.preloader.loaded {
  display: none;
}

.wrapper-circle-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color-bg-load-circle;
  z-index: map-get($zIndex, circle-loader);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: default;

  &__loader {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    border-top: 2px solid transparent;
    width: 15px;
    height: 15px;
    animation: preloader-rotate 0.45s infinite linear;
  }
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

html {
  background-color: $font-color;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 500px;
  margin: 20px auto 0 auto;

  &__when {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    margin-top: 15px;
    background-color: $background-list-color;
    width: 100%;
    border-radius: 10px;
    padding: 20px 0;
    position: relative;
    box-sizing: border-box;
  }
}

.separator {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  &__item {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $font-color;
  }
}

.when {
  &__date {
    width: 70%;
    background-color: $background-input-date;
    height: 50px;
    border-radius: 10px;
  }
}

.input-wrapper {
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
}

.input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
}

.wrapper-title {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  position: relative;

  &.active {
    border-color: #317cc8!important;
  }

  &_list:hover {
    border-color: #6f7e8d;
  }

  &_list:hover > .title-select-date {
    display: block;
  }
}

.title {
  margin: 10px 0;
  outline: none;
  word-wrap: anywhere;
}

.title-select-date {
  width: 46px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.list {
  &__content {
    padding: 0 10px 25px 10px;
  }
}

.marker {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 6px;
}

.item-content {
  display: flex;
  position: relative;
  padding: 0 40px 0 20px;
  box-sizing: border-box;
  cursor: pointer;
  overflow-wrap: anywhere;

  &__input {
    font-size: 20px;
    padding: 0;
    background: repeating-linear-gradient(90deg, transparent 0 7px, $background-list-color 7px 10px), repeating-linear-gradient(transparent 0px 22px, $separator-line-color 20px 23px);
    font-family: 'Times New Roman';

    &_delete {
      text-decoration: line-through;
    }
  }

  &_list {
    padding: 0 20px;
    position: relative;
  }

  &_list > .input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_list > .content {
    &__control {
      right: -5px;
    }
  }

  &:hover > .inner-control {
    display: flex;
  }
}

.content {
  &__control {
    position: absolute;
    right: -12px;
    top: 1px;
  }
}

.item-content:not(:first-child) {
  margin-top: 10px;
}

.button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.control {
  background-color: $background-control-color;
  margin-top: 15px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;

  &__button {
    width: 50px;
    height: 50px;
    border-radius: 100%;

    &_toList {
      background-color: $btn-move-color;
    }

    &_contents {
      background-color: $btn-contents-color;
    }

    &_add {
      background-color: $btn-add-color;
    }

    &_save {
      background-color: $btn-add-color;
    }

    &_delete {
      background-color: $btn-delete-color;
    }
  }

  &__icon {
    &_left {
      padding-right: 4px;
    }

    &_right {
      padding-left: 4px;
    }
  }

  &__icon:before {
    color: $icon-control-color!important;
  }
}

.icon {
  &:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    speak: never;
    color: $icon-color;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;

    font-variant: normal;
    text-transform: none;

    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:hover {
    &:before {
      color: #5d9ad1;
    }
  }
}

.inner-control {
  display: none;
}

@media (max-width: 1024px) {
  .inner-control {
    display: initial;
  }
}
