$font-size: 1rem;
$font-color: #1f8447;

html {
  background-color: $font-color;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 500px;
  margin: 20px auto 0 auto;

  &__when {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    margin-top: 15px;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
  }
}

.list {
  &__head {

  }
}

.separator {
  display: flex;
  justify-content: space-between;

  &__item {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $font-color;
  }
}

.when {
  &__time {
    width: 25%;
    background-color: #fff;
    height: 50px;
    border-radius: 10px;
  }
  &__date {
    width: 70%;
    background-color: #fff;
    height: 50px;
    border-radius: 10px;
  }
}

.inputWrapper {
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
}

.input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
}

.list {
  &__content {
    padding: 25px 10px;
  }
}

.itemContent {
  border-bottom: 2px dashed #cfc4c4;

  &__input {
    font-size: 20px;
  }
}

.itemContent:not(:first-child) {
  margin-top: 10px;
}