$font-color: #1f8447;
$background-list-color: #fff;
$background-input-date: #fff;
$separator-line-color: #cfc4c4;
$separator-line-color-hover: #847171;
$background-control-color: #fff;

$modal-bg: rgba(0, 0, 0, 0.5);
$modal-content-bg: #fff;
$modal-border-color: #d9d9d9;
$modal-title-color: #5d5d5d;

$loader-border: rgba(0, 0, 0, 0.5);

$bread-crumbs-color: #948e8e;
$bread-crumbs-link-color: #303030;

$border-title-active-color: #317cc8;
$border-title-list-color: #6f7e8d;

$marker-color: rgba(255, 0, 0, 0.5);

$item-content-input-color: #494d4d;

$btn-move-color: #317cc8;
$btn-contents-color: #6f7e8d;
$btn-add-color: #26952e;
$btn-delete-color: #b21919;
$btn-hover-shadow-color: rgba(0, 0, 0, 0.8);

$icon-color: #5d86ab;
$icon-control-color: #fff;
$icon-hover-color: #5d9ad1;

$colo-load-item: #337ab7;
$color-bg-load: rgba(0, 0, 0, 0.3);
$color-bg-load-circle: transperent;

$icon-list-add: '\e800';
$icon-list-save: '\e802';
$icon-pencil: '\e804';
$icon-trash: '\e801';
$icon-toList: '\e803';
