$font-color: #1f8447;
$background-list-color: #fff;
$background-input-date: #fff;
$separator-line-color: #cfc4c4;
$background-control-color: #fff;

$btn-move-color: #317cc8;
$btn-contents-color: #6f7e8d;
$btn-add-color: #26952e;
$btn-delete-color: #b21919;

$icon-color: #5d86ab;
$icon-control-color: #fff;

$icon-list-add: '\e800';
$icon-left-open: '\e802';
$icon-right-open: '\e803';
$icon-pencil: '\e804';
$icon-trash: '\f1f8';